<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApacheThrift" version="0.9.3" targetFramework="net461" />
  <package id="dlech.Chaos.NaCl" version="0.1.0.0" targetFramework="net461" />
  <package id="SimpleBase" version="1.7.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
</packages>